<script>
function solve() {
	var val = parseInt(document.getElementById("code").value);

	var not_present = !(val & 1 != 0);
	var write = val & 2 != 0;
	var user = !(val & 4 != 0);
	var ifetch = (val & 16 != 0);
	result = "<br /> " + (not_present ? "not present" : "rights violation") +
		" error occured while " + (write ? "writing to" : "reading from") +
		" page in " + (user ? "user" : "kernel") + 
		" context" + (ifetch ? " (during instruction fetch)" : "");

	document.getElementById("solution").innerHTML = result;
}
</script>

  Error code: <input type="text" id="code"><br>
  <input type="button" onclick="solve()" value="Submit">
  <span id="solution"></span>
